@model IEnumerable<DAL.Product>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active">Check Out</li>
                </ul>
                <div class="well well-small">
                    <h1>Check Out <small class="pull-right"> 2 Items are in the cart </small></h1>
                    <hr class="soften" />

                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Description</th>
                                <th>	Ref. </th>
                                <th>Ship.</th>
                                <th>Unit price</th>
                                <th>Qty </th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        
                            <tr>
                                <td><img width="100" src="@Url.Content(@item.Image)" alt=""></td>
                                <td>@item.Name<br>Model : @item.Brand</td>
                                <td> - </td>
                                
                                <td><span class="shopBtn"><span class="icon-ok"></span></span> </td>
                                <td>$@item.Price</td>
                                <td>
                                    <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text" value="2">
                                    <div class="input-append">
                                        <button class="btn btn-mini" type="button">-</button><button class="btn btn-mini" type="button"> + </button><button class="btn btn-mini btn-danger" type="button"><span class="icon-remove"></span></button>
                                    </div>
                                </td>
                                <td>$@item.Price</td>
                            </tr>
                         }
                    </table><br />
                </div>
            </div>
        </div>
