@model IEnumerable<DAL.Product>

@{
    ViewBag.Title = "Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Watch</h2>
<ul class="thumbnails">
    @foreach (var item in Model)
    {
        <li class="span3">
            <div class="thumbnail">
                <a href="product_details.html" class="overlay"></a>
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                <a href="product_details.html"><img src="@Url.Content(@item.Image)" alt="" class="sizeimag"></a>
                <div class="caption cntr">
                    <p>@item.Name</p>
                    <p><strong> $@item.Price</strong></p>
                    <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                    <div class="actionList">
                        <a class="pull-left" href="#">Add to Wish List </a>
                        <a class="pull-left" href="#"> Add to Compare </a>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </li>
    }
</ul>